span{color: red ; font-weight:bold ;}
body{background-color: #d0e4fe;}
div{overflow: auto;}
#tt{color: black;text-align: center;}
.center{text-align: center;}
p{font-size: 20px}
#text{width: 10%;height: 180px;float: left;}
.pic{width: 100%;height: 90px;float:left;}
.pic img{transition: all 1s;}
.pic img:hover{transform: scale(1.3, 1.3);}
html{scroll-behavior: smooth;}